apiVersion: v1
kind: Secret
metadata:
  name: {{ include "voting-app.fullname" . }}-secrets
  namespace: {{ .Values.namespace | default "voting-app" }}
  labels:
    {{- include "voting-app.labels" . | nindent 4 }}
type: Opaque
stringData:
  POSTGRES_PASSWORD: {{ .Values.secrets.postgresPassword | quote }}
  REDIS_PASSWORD: {{ .Values.secrets.redisPassword | quote }}

